apiVersion: v1
stringData:
  SSO_MANAGEMENT_CLIENT_ID: {{ abl_cm_sso_ci }}
  SSO_MANAGEMENT_REALM: {{ abl_cm_sso_realm }}
  SSO_MANAGEMENT_URL: {{ abl_cm_sso_url }}
kind: Secret
metadata:
  name: sso-{{ abl_artifact_id }}
type: Opaque