@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.specialized-help-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Roboto;

  &__background {
    width: 100%;
    height: 800px;
    background-image: url('/assets/specialized/fondoSpecialized.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__content,
  &__sales-tips,
  &__contact {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
  }

  &__content {
    padding: 5% 5% 0 2%;

    &--navbar,
    &--section-center {
      width: 100%;
    }
  }

  &__sales-tips,
  &__footer {
    padding: 5% 0 0 0;
  }

  &__footer {
    width: 100%;
  }
}

.specialized-help-section-center {
  margin-top: 600px;

  @include tabletLaptop() {
    margin-top: 650px;
  }

  @include smallTablet() {
    margin-top: 650px;
  }

  @include Asmall() {
    margin-top: 650px;
  }
}
