<div class="parrafo margenInferior">
  <p class="textParrafo">
    <strong>10.</strong> De acuerdo con la respuesta que el sistema le dé a tu cliente,<br />
    debes hacer lo siguiente :
  </p>
  <br />

  <p class="green">
    <strong>Si la solicitud fue Aprobada:</strong>
  </p>
  <p class="parrafo">
    Después de enviar los documentos al correo electrónico definido, 15 minutos a que Santander Financing confirme la
    aprobación, una vez recibas la confirmación, infórmale a tu cliente que puede iniciar su compra.
  </p>
  <br />
  <p class="red">
    <strong>Si la solicitud fue negada:</strong>
  </p>
  <p class="parrafo">
    Solo debes enviar los documentos y explicarle a tu cliente que la solicitud por el momento no es viable, pero que
    puede intentarlo pasados tres meses desde la fecha actual.
  </p>
  <br />
  <p class="parrafo">
    <strong>la solicitud fue pre Aprobado sin documentos:</strong><br />
    Después de enviar el correo electrónico con los documentos firmados por el cliente, deberás esperar una hora para
    que Santander Financing te remita una decisión final.
  </p>
  <br />
  <p class="parrafo">
    <strong>la solicitud es pre aprobada con documentos:</strong><br />
    Deberás solicitar a tu cliente los siguientes documentos adicionales al correo definido.
  </p>
  <br />
  <p class="parrafo">
    <strong>Si tu cliente es empleado:</strong><br />
    Certificación laboral vigente no mayor a 30 días.<br />
    Si aplica, certificaciones de sus empleos anteriores para demostrar continuidad laboral de al menos 12 meses,<br />
    con continuidad de 6 meses en su empleo actual.<br /><br />
  </p>
  <p class="parrafo">
    <strong>Pensionados:</strong><br />
    Resolución de pensión o extractos (últimos tres meses) o desprendibles de pago (últimos tres meses). <br /><br />
  </p>
  <p class="parrafo">
    <strong>Independientes:</strong><br />
    Tu cliente debe anexar su RUT y/o Cámara de Comercio con vigencia no mayor a 30 dias, Declaración de renta y/o
    extractos bancarios de los últimos tres meses y/o Tarjetas de propiedad con contratos.<br /><br />
  </p>
  <p class="parrafo">
    <strong>Si es rentista de capital:</strong><br />
    Certificados de tradición y libertad (no mayor a 30 días) con contratos.<br /><br />
    Una vez recibas los documentos de tu cliente y los remitas al correo asignado, tendras un respuesta en las próximas
    horas sobre la solicitud:<br /><br />

    <strong>Si fue aprobada, infórmale a tu cliente que puede iniciar la compra.</strong><br /><br />
    <strong>Si fue negada, explícale que puede intentarlo pasados tres meses desde la fecha actual</strong>
  </p>
</div>
