@import '../../../src/scss/variables';
@import '../../../src/scss/mixins';
.pasos {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10px;
  .paso {
    .parrafo {
      margin: 0px 0px 15px 0px;
      font-size: 13px;
    }
    .imagePaso {
      img {
        width: 100%;
      }
    }
  }
}

.paso {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 20px;
  img {
    max-width: 70%;
    @include Asmall() {
      max-width: 80%;
    }
  }
}

.textParrafo:first-letter {
  font-weight: 600;
}

.textParrafo {
  @include Asmall() {
    color: $negro !important;
  }
}

.titleManSol {
  font-size: 13px;
  margin-bottom: 20px;
  @include Asmall() {
    color: $negro !important;
  }
  h1 {
    margin-bottom: 10px;
  }
}
