<div class="part4">
  <div class="tics">
    <div class="desc">
      <img src="./assets/colsanitas/tipUno.png" alt="" />
      <h5>Sencillo.</h5>
      <p>
        Aprobación inmediata <br />
        obtén una decisión crediticia en <br />
        instantes, sin papeleos.
      </p>
    </div>
    <div class="desc">
      <img src="./assets/colsanitas/tipDos.png" alt="" />
      <h5 class="personal">Personal.</h5>
      <p>
        Plazos convenientes y amplía <br />
        financiación de acuerdo a <br />
        las necesidades de tu cliente.
      </p>
    </div>
    <div class="desc">
      <img src="./assets/colsanitas/tipTres.png" alt="" />
      <h5>Justo.</h5>
      <p>
        Baja tasa de interés a término fijo,<br />
        contamos con una amplía red de <br />
        puntos de pago.
      </p>
    </div>
  </div>
</div>
