<lib-print-detail-partners
  [currentfee]="currentFee$"
  [logoheader]="URL_LOGO_PARTNER"
  [companyheaderlogo]="URL_LOGO_SANTANDER"
></lib-print-detail-partners>

<div class="home-loader" *ngIf="!(partnerId$ | async)">
  <mat-progress-spinner mode="indeterminate" value="100"></mat-progress-spinner>
</div>

<gaes-basic-layout *ngIf="!!(partnerId$ | async)" class="light-home-layout-container" [menuItems]="menuItems$">
  <div main-content class="basic-content request-container">
    <mat-slide-toggle [checked]="zeroRate" (change)="setSlide('zeroRate', $event)">Tasa 0% </mat-slide-toggle>

    <mat-slide-toggle
      style="visibility: hidden"
      *ngIf="!zeroRate"
      [checked]="gracePeriod"
      (change)="setSlide('gracePeriod', $event)"
    >
      Período de gracia ({{ gracePeriod$ | async }} meses)</mat-slide-toggle
    >

    <hr />

    <lib-big-radio-amounts #inputHeader [max]="maxAmount$" (outAmountRequested)="changeAmountRq($event)">
    </lib-big-radio-amounts>

    <hr />
    <div class="calcPdos">
      <p class="title">¿En cuántas cuotas desea pagar el dispositivo?</p>
      <lib-big-radio-group
        [fees]="installmentsParam$"
        (onSelectFee)="selectFee($event)"
        [creditfeedata]="currentFee$"
        [minAmount]="minAmount$"
        [calculatorfees]="fees$"
        [loadingfees]="loadingFees$"
      >
      </lib-big-radio-group>
    </div>

    <hr />

    <div class="">
      <p class="title">Porcentaje de cuota inicial</p>
      <div class="initial-percent">
        <app-initial-percent (outPercent)="outPercent($event)" [min]="minInitialPercent" [max]="maxInitialPercent">
        </app-initial-percent>
      </div>
    </div>

    <app-loan-detail [currentFee]="currentFee$" [initialPercent]="initialPercent" [zeroRate]="zeroRate">
    </app-loan-detail>

    <hr class="do-not-print" />
    <div class="cntBotones do-not-print">
      <button (click)="onPrint()" class="btnCta imprimir">IMPRIMIR</button>
    </div>
    <div class="cntBotones do-not-print">
      <button (click)="startRequestFlow()" class="btnCta">INICIAR SOLICITUD</button>
    </div>

    <div class="cntBotones do-not-print not-in-menu">
      <lib-navbar-menu nav-links [menuItems]="menuItems$"></lib-navbar-menu>
    </div>

    <hr class="do-not-print" />
    <div class="container-condtions do-not-print">
      <p class="title">Condiciones para el cliente:</p>
      <p class="item-list">
        • Debe tener entre 18 y 75 años <br />
        • Ganar más de un salario mínimo <br />
        • El monto mínimo es $800.000 <br />
        • El monto máximo es $20.000.000 <br />
        • Colombiano o residente con visa e historia laboral <br />
        • Plazo de financiación máximo 12 meses adicionales a la duración del tratamiento
      </p>
    </div>
    <hr class="do-not-print" />
    <div class="container-condtions do-not-print">
      <p class="title">Clientes asalariados:</p>
      <p class="item-list">• Continuidad laboral mínima de 12 meses.</p>
      <p class="title">Clientes independientes:</p>
      <p class="item-list">• Antigüedad en la actividad mínima de 12 meses</p>
    </div>
  </div>
</gaes-basic-layout>
