@import '../../../../scss/variables';
.validate-otp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
  }
  &__subtitle {
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
    color: $textoUno;
    font-size: 14px;
    padding: 16px 0;
  }
  &__content {
    &--img {
      padding: 48px 0;
      display: flex;
      justify-content: center;
    }
    &--input {
      input {
        text-align: center;
        letter-spacing: 6px;
        font-size: 100%;
      }
    }

    &--error {
      font-family: Roboto;
      font-weight: normal;
      font-style: normal;
      font-size: 12px;
      color: #ec0000;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    color: $textoUno;
    font-size: 14px;
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;

    &--bold {
      font-family: Roboto;
      font-weight: bold;
      font-style: normal;
      text-decoration: underline;
      cursor: pointer;
      margin: 8px 0 0 0;
    }

    &--expired-code {
      font-family: Roboto;
      font-weight: normal;
      font-style: normal;
      color: #ec0000;
    }
  }
}
