@import '../../../src/scss/variables';
@import '../../../src/scss/mixins';

.calculator {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 9px 0 #cacaca;
  padding: 15px 1%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  .dialog-label {
    width: 100%;
    margin: auto;
    .marginOne {
      margin: 16px 3% 4px;
    }
    .title {
      h2 {
        font-family: DINPro;
        font-size: 18px;
        font-weight: bold;
        color: #154c5b;
        letter-spacing: -1px;
      }
    }
    .hr {
      width: 92%;
      height: 2px;
      background-color: rgb(149, 149, 149);
      margin: 10px auto;
    }
    .slidercontainer {
      input[type='range'] {
        width: 100%;
        -webkit-appearance: none;
        height: 12px;
        background-color: #eff3f6;
        border: 0.5px solid #d2dbe4;
        outline: none;
        opacity: 0.7;
        transition: opacity 0.2s;
        border-radius: 5px;
        margin-bottom: 20px;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 24px;
          height: 24px;
          background: rgb(98, 127, 151);
          cursor: pointer;
          border-radius: 50px;
        }
        &::-moz-range-thumb {
          appearance: none;
          width: 34px;
          height: 34px;
          background: rgb(98, 127, 151);
          cursor: pointer;
          border-radius: 50px;
        }
        &::-ms-thumb {
          appearance: none;
          width: 34px;
          height: 34px;
          background: rgb(98, 127, 151);
          cursor: pointer;
          border-radius: 50px;
        }
      }
    }

    .solicitud {
      margin-top: 20px !important;
      font-size: 14px;
      font-family: DINPro;
      font-weight: 500;
      grid-column: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .text {
        margin: 20px 20px;
      }
      .gray {
        color: #bababa;
        justify-content: left;
      }
      .dialog-input {
        width: 50%;
        grid-column: 0;
        font-family: Roboto;
        font-size: 13px;
        letter-spacing: 0;
        justify-content: center;
        color: #bababa;
      }
    }

    .contMinMax {
      margin-top: 8px !important;
      font-size: 14px;
      font-family: DINPro;
      font-weight: 500;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .contMax {
        text-align: right;
      }
      .gray {
        color: #bababa;
      }
      p {
        color: #bababa;
      }
    }
    mat-form-field {
      display: block;
      font-size: 18px;
      margin: 10px 0% 0px;
      font-family: DINPro !important;
      font-weight: normal;
      .input {
        display: grid;
        grid-template-columns: 5% 85% 10%;
        .progress {
          grid-column: 1;
          margin: -4px 0 0 40px;
        }
        input {
          grid-column: 2;
          height: 30px;
          margin-top: -8px;
        }
      }
    }
    .grace-period-risk {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      mat-checkbox {
        margin: 15px 14px;
        font-weight: 300;
        font-size: 14px;
      }

      .gracePeriod {
        margin-top: 1px;
      }

      .corteMes {
        font-weight: 500;
        font-size: 13px;
      }
    }

    .grace-period-risk-2 {
      align-items: center;
      flex-wrap: wrap;
      text-align: center;

      mat-checkbox {
        margin: 15px 14px;
        font-weight: 300;
        font-size: 14px;
      }

      .gracePeriod {
        margin-top: 1px;
      }

      .corteMes {
        font-weight: 500;
        font-size: 13px;
      }
    }
    .cuota {
      display: flex;
      flex-flow: row wrap;

      .radio {
        position: relative;
        height: 59px;
        width: 10%;
        min-width: 95px;
        padding: 4px;

        .check.disabled {
          cursor: not-allowed;
        }

        input,
        .radio-container {
          position: absolute;
          height: calc(100% - 8px);
          width: calc(100% - 8px);
        }

        input {
          opacity: 0;
          z-index: 1;
          cursor: pointer;
        }

        .radio-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .numBer {
            line-height: 0.8;
            font-size: 25px;
            color: rgb(105, 110, 110);
            font-family: DINPro;
            font-weight: bold;
          }

          .mes {
            font-size: 15px;
            color: #2b91b5;
            font-family: DINPro;
            font-weight: 500;
            display: flex;
          }

          .grace-perido {
            font-size: 15px;
            color: rgb(28, 148, 181);
            font-family: DINPro;
            font-weight: 500;
          }
        }
      }

      input[type='radio'] + .radio-container {
        cursor: pointer;
        border-radius: 5px;
        background-color: rgb(235, 235, 234);
        border: none;
      }

      input[type='radio']:checked + .radio-container {
        border: none;
        background-color: white;
        box-shadow: 0px 1px 7px 0px rgb(147, 147, 147);
        border-radius: 5px;
      }
    }

    .infocuota {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(235, 235, 234);
      border-radius: 8px;
      padding: 4px;
      .text {
        white-space: pre-line;
        font-family: DINPro !important;
        font-weight: 900;
        color: rgb(174, 177, 178);
        font-size: 12px;
      }
      .vrCuota {
        text-align: left;
        font-weight: 400;
        font-family: DINPro !important;
        font-size: 16px;
      }
      .tooltip {
        width: 25px;
        height: 25px;
        border-radius: 50px;
        background-color: gray;
        color: white;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        justify-self: center;
        position: relative;
        cursor: pointer;

        .tiptext {
          visibility: hidden;
          width: 300px;
          background-color: rgba(0, 0, 0, 0.8);
          color: #fff;
          text-align: center;
          border-radius: 3px;
          padding: 6px 0;
          position: absolute;
          z-index: 1;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          opacity: 0.5;
          &::after {
            content: '';
            position: absolute;
            border-width: 5px;
            border-style: solid;
          }
          li {
            line-height: 25px;
          }
        }
      }
      .tooltip:hover .tiptext {
        visibility: visible;
        opacity: 1;
      }
      .tooltip.top .tiptext {
        margin-left: -155px;
        bottom: 150%;
        // TODO
        // left: 60%;
        right: 0;
      }
      .tooltip.top .tiptext::after {
        margin-left: -5px;
        top: 100%;
        // TODO
        // left: 50%;
        right: 5px;
        border-color: #2e2e2e transparent transparent transparent;
        opacity: 1;
      }
    }
    .btn {
      height: 40px;
      border-radius: 10px;
      cursor: pointer;
      font-family: 'DINPro';
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 15px;
    }
    .btn-request {
      background-color: #154c75;
      border: none;
      color: white;
    }
    .btn-print {
      color: white;
      background-color: #154c75;
      border: none;
    }
    .img-info {
      width: 92%;
      height: 92%;
      margin: auto;
      margin-top: 8%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 3px 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 15px;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}

.calculator-container {
  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__element {
    margin: 0 4%;

    &--error {
      font-family: Roboto;
      font-weight: normal;
      font-style: normal;
      font-size: 12px;
      color: #ec0000;
    }
  }
}
