.business-help-container {
  &__header-title {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    padding: 20px 0;
    color: white;
  }

  &__navbar {
    background-color: white;
  }

  &__tips {
    background-color: white;
  }

  &__footer {
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
    color: white;
    padding: 20px 0;
    background-color: #003577;
    font-size: 12px;
    text-align: center;
  }
}
