<h1 mat-dialog-title disabled>Fecha de nacimiento del paciente</h1>
<div>
  <mat-form-field color="accent" appearance="fill">
    <mat-label>Fecha Nacimiento</mat-label>
    <input
      #input="ngModel"
      maxlength="10"
      minlength="10"
      required
      matInput
      [matDatepicker]="picker2"
      [min]="minDate"
      [max]="maxDate"
      [matDatepicker]="minmaxvalidation"
      [(ngModel)]="dateborn"
    />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>

    <mat-datepicker #picker2 disabled="false" color="primary"></mat-datepicker>
  </mat-form-field>
</div>
<mat-error *ngIf="input.hasError('matDatepickerMax')">La edad debe ser mayor a 18</mat-error>
<mat-error *ngIf="input.hasError('matDatepickerMin')">La edad debe ser menor a 75</mat-error>

<div mat-dialog-actions>
  <button
    mat-raised-button
    [disabled]="!dateborn || input.hasError('matDatepickerMax') || input.hasError('matDatepickerMin')"
    (click)="onNoClick()"
    class="btnAcept"
  >
    Aceptar
  </button>
</div>
