<mat-toolbar fxLayout="row">
  <ng-container *ngFor="let item of menuItems$ | async">
    <button
      *ngIf="item.subMenu && item.subMenu.length > 0"
      mat-button
      [fxShow]="item.showOnDesktop"
      [fxShow.xs]="item.showOnMobile"
      [fxShow.sm]="item.showOnTablet"
      [matMenuTriggerFor]="subMenu"
      (click)="goto(item)"
    >
      <mat-icon class="mr">{{ item.icon }}</mat-icon>
      {{ item.label }}
      <mat-menu #subMenu="matMenu">
        <button *ngFor="let subItem of item.subMenu" mat-menu-item (click)="goto(subItem)">{{ subItem.label }}</button>
      </mat-menu>
    </button>
    <button
      *ngIf="item.subMenu && item.subMenu.length === 0"
      mat-button
      [fxShow]="item.showOnDesktop"
      [fxShow.xs]="item.showOnMobile"
      [fxShow.sm]="item.showOnTablet"
      (click)="goto(item)"
    >
      <mat-icon class="mr">{{ item.icon }}</mat-icon>
      {{ item.label }}
    </button>
  </ng-container>

  <ng-container>
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" [fxShow]="false" [fxShow.sm]="true" [fxShow.xs]="true">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu">
      <ng-container *ngFor="let item of menuItems$ | async">
        <div [fxShow]="!item.showOnDesktop" [fxShow.sm]="!item.showOnTablet" [fxShow.xs]="!item.showOnMobile">
          <button mat-menu-item *ngIf="item.subMenu.length === 0" (click)="goto(item)">
            {{ item.label }}
          </button>
          <button
            mat-menu-item
            *ngIf="item.subMenu && item.subMenu.length > 0"
            [matMenuTriggerFor]="subMenuMob"
            (click)="goto(item)"
          >
            <!-- <mat-icon class="mr">{{item.icon}}</mat-icon> -->
            {{ item.label }}
            <mat-menu #subMenuMob="matMenu"
              ><button *ngFor="let subItem of item.subMenu" mat-menu-item (click)="goto(subItem)">
                {{ subItem.label }}
              </button></mat-menu
            >
          </button>
          <mat-divider></mat-divider>
        </div>
      </ng-container>
    </mat-menu>
  </ng-container>
</mat-toolbar>
