@import '../../../../scss/variables';
@import '../../../../scss/mixins';
h1 {
  color: $blanco;
  margin: 30px 0px 20px 0px;
  text-align: center;
  font-size: 20px;
}

.contInputHeader {
  display: grid;
  grid-template-columns: 5% auto 5%;
  padding: 100px 25px 50px;
  @include Asmall() {
    padding: 140px 0 20px;
  }
  @include smallTablet() {
    grid-template-columns: 3% auto 3%;
    padding: 80px 0px 50px;
  }
  @include tabletLaptop() {
    padding: 80px 0px 10px;
  }
  .contMatInput {
    display: grid;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0.9;
    padding: 15px 0px;
    margin-top: 40px;
    border-radius: 10px;
    grid-column: 2;
    text-align: center;
    @include Asmall() {
      padding: 15px 0px;
      margin-top: 0px;
    }
    @include tabletLaptop() {
      padding: 10px 0px 25px;
    }
    mat-form-field,
    .input-error {
      width: 85%;
      align-self: center;
      justify-self: center;
      @include Asmall() {
        width: 90%;
      }
    }
    h3 {
      text-align: center;
      font-size: 16px;
      margin-bottom: 4%;
      color: rgba(112, 112, 112, 1);
      @include Asmall() {
        display: none;
      }
    }
    .city-initial {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 92%;
      text-align: center;
      justify-self: center;
      @include Asmall() {
        grid-template-columns: 1fr;
        width: 100%;
        margin-top: 2.5vh;
        row-gap: 3vh;
      }
      @include tabletLaptop() {
        margin-top: 2vh;
      }
    }
    .has-error {
      display: grid;
      grid-template-columns: 1fr;
      color: red;
      font-size: 12px;
      @media only screen and (max-width: 320px) {
        font-size: 11px;
      }
      @include Asmall() {
        margin-top: 3vh;
      }
      @include tabletLaptop() {
        margin-top: 2vh;
      }
    }
  }
}

::ng-deep .mat-form-field-wrapper .mat-form-field-flex {
  background-color: $blanco !important;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 15px;
  @include Asmall() {
    padding: 0px;
  }
  @include tabletLaptop() {
    padding: 0px;
  }
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}
